extends ../layout

block content
  .container(style="padding:50px 20px 0px 20px")
    .col-sm-8.col-sm-offset-2
      form(method='POST')
          legend.page-header Forgot Password
          input(type='hidden', name='_csrf', value=_csrf)
          .row
            .col-xs-1
            .col-xs-10
              .form-group
                p Enter your email address below and we will send you password reset instructions.
                label.control-label(for='email') Email
                input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
              .form-group
                button.btn.btn-primary(type='submit')
                  i.fa.fa-key
                  | Reset Password
            .col-xs-1
