extends ../layout

block content
  .container(style="padding:50px 20px 0px 20px;")
    .page-header
      h3 Sign in
    form.form-horizontal.well(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        .col-sm-3
        .col-sm-7.input-group
          span.input-group-addon
            i.fa.fa-envelope
          input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
      .form-group
        .col-sm-3
        .col-sm-7.input-group
          span.input-group-addon
            i.fa.fa-lock
          input.form-control(type='password', name='password', id='password', placeholder='Password', required)
      .form-group
        .col-sm-offset-3.col-sm-7
          button.col-sm-3.btn.btn-primary(type='submit')
            i.fa.fa-user
            | Login
          a.btn.btn-link(href='/forgot') Forgot your password?
      .form-group
        .col-sm-offset-3.col-sm-7
      hr.hr-text(data-content='OR')
      .form-group
        .col-sm-offset-3.col-sm-7
          a.btn.btn-block.btn-google.btn-social(href='/auth/google')
            i.fa.fa-google-plus
            | Sign in with Google
