footer
  .container.text-center
    p.pull-left © 2017 Big Outsource All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='mailto:jvenezuela.bos@gmail.com') Jigno Alfred V. Venezuela
      li
        a(href='https://github.com/iamjigz') GitHub
