.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      .small-logo-container
        a.small-logo(href='#')
          span.move-text
            |BIG OUTSOURCE
          img(src="/logo-bigoutsource.png")
    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li(class=(title == 'Home') ? 'active' : undefined)
          a(href='/')
            span.fa.fa-home(aria-hidden='true')
            | Home

        li(class=(title == 'Applicant Exam') ? 'active' : undefined)
          a(href='/applicant/exam')
            span.fa.fa-bar-chart(aria-hidden='true')
            | Applicant exam

        li.dropdown(class=(title == 'Intern Tools') ? 'active' : undefined)
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            span.fa.fa-users(aria-hidden='true')
            | Intern Tools
            b.caret
          ul.dropdown-menu
            li(class=(title == 'Assessment Score Data Entry Form') ? 'active' : undefined)
              a(href='/applicant/form')
                span.fa.fa-caret-right(aria-hiden='true')
                | Assessment Score Data Entry Form

            li.divider
            li(class=(title == 'Web Crawler') ? 'active' : undefined)
              a(href='/crawler')
                span.fa.fa-caret-right(aria-hiden='true')
                |Web Crawler

            li(class=(title == 'Consequence Picker') ? 'active' : undefined)
              a(href='/intern/consequence')
                span.fa.fa-caret-right(aria-hidden='true')
                | Consequence Picker

        li.dropdown(class=(title == 'Admin Tools') ? 'active' : undefined)
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            span.fa.fa-user-circle(aria-hidden='true')
            | Admin Tools
            b.caret
          ul.dropdown-menu
            li(class=(title == 'Admin Page') ? 'active' : undefined)
              a(href='/admin/users') Admin Page
            li(class=(title == 'Assessment Scores') ? 'active' : undefined)
              a(href='/applicant/scores')
                span.fa.fa-caret-right(aria-hidden='true')
                  |  Assessment Scores

            li.divider
            li(class=(title == 'API Examples') ? 'active' : undefined)
              a(href='/api')
                span.fa.fa-caret-right(aria-hidden='true')
                | API Examples
            li
              a(href='/status')
                span.fa.fa-caret-right(aria-hidden='true')
                | Application Status

        li(class=(title == 'Contact') ? 'active' : undefined)
          a(href='/contact')
            span.fa.fa-phone(aria-hidden='true')
            | Contact

        ul.nav.navbar-nav.pull-right
          if !user
            li(class=(title == 'Login') ? 'active' : undefined)
              a(href='/login') Login
            li(class=(title == 'Create Account') ? 'active' : undefined)
              a(href='/signup') Create Account
          else
            li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                if user.profile.picture
                  img(src=user.profile.picture)
                else
                  img(src=user.gravatar(60))
                span= user.profile.name || user.email || user.id
                i.caret
              ul.dropdown-menu
                li
                  a(href='/account') My Account
                li.divider
                li
                  a(href='/logout') Logout
