.cons-btn {
    font-size: 16px;
    width: 300px;
    background-color: #e64c66;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: auto 40px;
    border-radius: 20px;
    box-shadow: -4px 4px 8px #333;

    p {
        text-align: center;
        margin: 20px auto;
    }

    &:hover {
        background-color: #e14761;
        box-shadow: -2px 2px 4px #333;
    }

    &:active {
        box-shadow: none;
        background-color: #d73d57;
    }
}

#consequences {
    color: #2d3e50;
    display: inline-block;
    border: 1px solid #333;
    text-align: center;
    padding: 10px;
    min-height: 70px;
    width: 600px;
    margin-left: 40px;
    background-color: #fff;
    border-radius: 5px;
}

#cons-heading{
  font-size:50px;
  margin-top:50px;
  font-family: "Courier New", Courier, monospace;
  padding:10px 0px 10px 0px;
}
