@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
@import url("https://fonts.googleapis.com/css?family=SourceCodePro:400,200,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}
.main-content {
  margin: 50px 100px;
  max-width: 1200px;
}
.main-content p {
  line-height: 1.6;
  margin-bottom: 1.7em;
}
.footer-wb {
  margin: 50px auto;
  max-width: 600px;
  border-top: 1px solid #444;
  padding: 20px 0;
}
.footer-wb p {
  color: #444;
  font-size: 12px;
}
/*Stylus variables for navbar height*/
/*Multilevel dropdown*/
@media (min-width: 767px) {
  .navbar-nav .dropdown-menu .caret {
    transform: rotate(-90deg);
  }
}
.navbar-inverse {
  background: rgba(62,195,246,0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: none;
}
.navbar-inverse .navbar-toggle {
  border: 1px solid #333;
  border-color: rgba(255,255,255,0.7);
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: transparent;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    background: rgba(255,255,255,0.75);
  }
}
.navbar-inverse .navbar-nav > li > a {
  color: #000;
}
.navbar-inverse .navbar-nav > li > a:hover .navbar-inverse .navbar-nav > li > a:focus {
  color: #22f;
}
.small-logo-container {
  padding-top: 50px;
  height: 50px;
  overflow: hidden;
}
.small-logo {
  color: #fff;
  font-size: 2.5em;
  padding-bottom: 4px;
}
.big-logo-row {
  background: #ffd700;
}
.big-logo-row .big-logo-container {
  padding-top: 50px;
}
.h1 {
  font-size: 4em;
  margin: 0;
  padding: 0 0 20px 0;
}
@media (min-width: 400px) {
  .h1 {
    font-size: 4.5em;
  }
}
@media (min-width: 440px) {
  .h1 {
    font-size: 5.5em;
  }
}
@media (min-width: 500px) {
  .h1 {
    font-size: 6.5em;
  }
}
@media (min-width: 630px) {
  .h1 {
    font-size: 7.5em;
  }
}
@media (min-width: 768px) {
  .h1 {
    font-size: 9em;
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .h1 {
    font-size: 12em;
  }
}

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}
