extends ../layout

block content
  h2.crawler-header API Examples
  hr
    
  .row
    .col-sm-4
      a(href='/api/github', style='color: #fff')
        .panel.panel-default(style='background-color: #000')
          .panel-body
            img(src='http://i.imgur.com/2AaBlpf.png', height=40)
            |  GitHub
    .col-sm-4
      a(href='/api/foursquare', style='color: #fff')
        .panel.panel-default(style='background-color: #1cafec')
          .panel-body
            img(src='http://i.imgur.com/PixH9li.png', height=40)
            |  Foursquare
    .col-sm-4
      a(href='/api/linkedin', style='color: #fff')
        .panel.panel-default(style='background-color: #007bb6')
          .panel-body
            img(src='http://i.imgur.com/sYmVWAw.png', height=40)
            |  LinkedIn
    .col-sm-4
      a(href='/api/nyt', style='color: #fff')
        .panel.panel-default(style='background-color: #454442')
          .panel-body
            img(src='http://i.imgur.com/e3sjmYj.png', height=40)
            |  New York Times
    .col-sm-4
      a(href='/api/tumblr', style='color: #fff')
        .panel.panel-default(style='background-color: #304e6c')
          .panel-body
            img(src='http://i.imgur.com/rZGQShS.png', height=40)
            |  Tumblr
    .col-sm-4
      a(href='/api/scraping', style='color: #fff')
        .panel.panel-default(style='background-color: #ff6500')
          .panel-body
            img(src='http://i.imgur.com/RGCVvyR.png', height=40)
            |  Web Scraping
    .col-sm-4
      a(href='/api/aviary', style='color: #fff')
        .panel.panel-default(style='background: linear-gradient(to bottom, #1f3d95 0%,#04aade 100%)')
          .panel-body
            img(src='http://i.imgur.com/npBRwMI.png', height=40)
            |  Aviary
    .col-sm-4
      a(href='/api/upload', style='color: #1565c0')
        .panel.panel-default(style='background-color: #fff')
          .panel-body
            img(src='http://i.imgur.com/UPTzIdC.png', height=40)
            |  File Upload
    .col-sm-4
      a(href='/api/google-maps', style='color: #fff')
        .panel.panel-default(style='background-color: #20a360')
          .panel-body
            img(src='http://i.imgur.com/Er2ZqgZ.png', height=40)
            |  Google Maps
