extends ../layout

block script
    script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.4/papaparse.min.js")
    script(src='/js/crawler.js')

block content
    .container
        //h1 Big Outsource Web Crawler
        #alert-area
        #scraperModal.modal.fade(role="dialog")
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close("button", data-dismiss="modal") x
                        h4.modal-title Scraping Status
                    .modal-body
                        p.modal-msg Scrape finished...
                    .modal-footer
                        button.btn.btn-default(type="button", data-dismiss="modal") Close
        .main-content
          header
            h1.crawler
              strong Web Crawler
          .container.well
            form#select
              .row
                .col-xs-3
                  label Select a Country:
                  br
                  input.country(type='radio', name='country', value='United States')
                  |   United States
                  br
                  input.country(type='radio', name='country', value='United Kingdom')
                  |   United Kingdom
                .col-xs-3
                  label Select Website:
                  input#input-datalist.Datalist.search-box(required='', list='website-crawlers', placeholder='Website')
                  datalist#website-crawlers
                .col-xs-3
                  label Select Location:
                  input.Datalist.search-box#location(type='text', list='json-locations', placeholder='e.g. Glasgow', name='focus', required='')
                  datalist#json-locations
                  button.close-icon(type='reset')
                .col-xs-3
                  label Select Category
                  textarea#category.Datalist.search-box(name="textarea" rows="10", required='', placeholder='Category')
                  button.close-icon(type='reset')
              .row.crawler-btn
                .col-xs-4
                .col-xs-6
                  button#scrape.cr-btn SCRAPE
                  button#download.cr-btn DOWNLOAD
                  button(type='reset').cr-btn RESET
