extends ../layout

block content
  .container-fluid(style='padding:70px 20px 0px 20px;')
    .row
      .col-xs-1
      .col-xs-10
        .container-fluid(style='width:100%;height:2200')
          iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSc8139fryhFr9cGd_wRRhupCfCbwVvtwKpSNW2NVtwVkHTWoQ/viewform?embedded=true#start=embed', frameborder='0', marginheight='0', marginwidth='0' style='position:absolute;width:100%;height:2200') Loading...
      .col-xs-1
