extends ../layout

block script
  script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.4/papaparse.min.js")
  script(src='/js/d121.js')
  script(src='/js/usLocations.json')

block content
  .container
    h1.crawler-header
      strong D121 Web Crawler
    div#alert-area

    form
      //- label(for="state") Select a state:
      //- input#state(type="text", list="json-states", placeholder="e.g. Texas")
      //- datalist#json-states
      .container.well
        .row.input-spacing
          .col-xs-2
          .col-xs-4
            label(for="cities") Select a city:
            br
            input#city(type="text", list="json-cities", placeholder="e.g. Glasgow")
            datalist#json-cities
          .col-xs-4
            label(for="category") Select a category:
            br
            textarea#category(name="textarea" rows="6")
        .row.input-spacing
          .col-xs-2
          .col-xs-4
            label Crawl mode:
            br
            label#crawlmode.switch
              input(type="checkbox", checked="checked")
              div.slider.round
        .row.input-spacing
          .col-xs-4
          .col-xs-6
            button#scrape.cr-btn(type="button") Scrape
            button#download.cr-btn(type="button") Download
            button.cr-btn(type='reset') Reset
                
    ul#results(data-role='listview', data-filter='true')
      include d121-template.html
